.image{
    width: 70px;
 }
 header{
    display: flex; justify-content: space-between;
    background-color: #0c0b0b;
    color: white;
    align-items: center;
  } 
  nav{ 
    display: flex;
    gap: 20px;
  }
  .rouge{ display: flex; 
    gap: 20px;
  } 
  li{ 
    list-style: none;
  } 
  button{
    margin-right: 100px;
    width: 150px;
    border-radius: 20px;
    color: #0c0b0b;
  } 
  section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
  }
.foto{
  margin-right: 90px;
}
.uri{
  text-align:right;
}
.vert{
  background-color: blueviolet;
  color: aliceblue;
  display: flex;
  justify-content: center;  
}